#container {
    width: 50%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: dodgerblue;
}

#container div {
    height: 200px;
    width: 200px;
    background-color: fuchsia;
}