#container {
    width: 50%;
    height: 600px;
    position: relative;
    background-color: dodgerblue;
}

#container div {
    height: 200px;
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: fuchsia;
}